RTCC/Service References/PayByCell/GetActiveParkingInformation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddParkingForPayByCell">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="poleID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="poleSerNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="purchasedTime" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="authCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddParkingForPayByCellResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddParkingForPayByCellResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddParkingForPayByCellSoapIn">
    <wsdl:part name="parameters" element="tns:AddParkingForPayByCell" />
  </wsdl:message>
  <wsdl:message name="AddParkingForPayByCellSoapOut">
    <wsdl:part name="parameters" element="tns:AddParkingForPayByCellResponse" />
  </wsdl:message>
  <wsdl:portType name="GetActiveParkingInformationSoap">
    <wsdl:operation name="AddParkingForPayByCell">
      <wsdl:input message="tns:AddParkingForPayByCellSoapIn" />
      <wsdl:output message="tns:AddParkingForPayByCellSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetActiveParkingInformationSoap" type="tns:GetActiveParkingInformationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddParkingForPayByCell">
      <soap:operation soapAction="http://tempuri.org/AddParkingForPayByCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetActiveParkingInformationSoap12" type="tns:GetActiveParkingInformationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddParkingForPayByCell">
      <soap12:operation soapAction="http://tempuri.org/AddParkingForPayByCell" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetActiveParkingInformation">
    <wsdl:port name="GetActiveParkingInformationSoap" binding="tns:GetActiveParkingInformationSoap">
      <soap:address location="http://192.168.2.243:8080/GetActiveParkingInformation.asmx" />
    </wsdl:port>
    <wsdl:port name="GetActiveParkingInformationSoap12" binding="tns:GetActiveParkingInformationSoap12">
      <soap12:address location="http://192.168.2.243:8080/GetActiveParkingInformation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>