RTCC/Service References/ReceiptService/ValidateCard32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ipsmetersystems.com/ReceiptingSystem" elementFormDefault="qualified" targetNamespace="http://www.ipsmetersystems.com/ReceiptingSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionRecordID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>