RTCC/Service References/ReceiptService/ValidateCard3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://receipt.ipsmetersystems.com/ValidateCard.svc?xsd=xsd2" namespace="http://www.ipsmetersystems.com/ReceiptingSystem" />
  <xs:element name="SubmitReqest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.ipsmetersystems.com/ReceiptingSystem" minOccurs="0" name="objTransaction" nillable="true" type="q1:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReqestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>